<h1>All User Groups</h1>

<%= link_to "Create New Group", new_user_group_path %>

<% if @user_groups.any? %>
  <ul>
    <% @user_groups.each do |group| %>
      <li>
        <%= link_to group.name, user_group_path(group) %>
        <% if group.description.present? %>
          - <%= truncate(group.description, length: 50) %>
        <% end %>
        |
        <%= link_to "Edit", edit_user_group_path(group) %> |
        <%= link_to "Delete", user_group_path(group), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No groups found.</p>
<% end %>
