<div>
    <p style="color: green"><%= notice %></p>
    <%= content_for :title, "Users" %>
    <h3>Users</h3>

    <div id="users">
        <% @users.each do |user| %>
            <%= render user %>
            <p>
                <%= link_to "View", user %>
            </p>
        <% end %>
    </div>

    <%= link_to "New user", new_user_path, class: "action-link" %>
</div>