<<<<<<< HEAD
<div>
    <%= render "shared/navbar" %>
    <div class="main-container" >
        <%= render "shared/sidebar" %>
        <div class="show-expense">
            <%= render "shared/flash" %>
            <div>
                <h2><%= @payment.expense.title%></h2>
                <%= button_to "Delete", user_payment_path(@user.id, @payment.id), method: :delete, class: "btn" %>
                <%= link_to "Edit", edit_user_payment_path(@user.id, @payment), class: "btn" %>
            </div>
        </div>
    </div>
</div>

<style>
  /* Reset and Base Styles */
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
        background-color: #f3f3f3;
    }
    /* Main container and layout */
    .main-container {
      display: flex;
      gap: 20px;
      padding: 20px;
      padding-top: 100px;
      box-sizing: border-box;
      background-color: #f0f0f0;
      min-height: 100vh;
  }

  .sidebar ul li {
    border-bottom: none;
    padding: 10px 0;
  }
    .show-expense {
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 100px);
      margin: 0 auto;
      width: 100%;
    }
      .btn {
        text-decoration: none;
        width: auto;
        padding: 8px 16px;
        margin-top: 15px;
        background-color: #1d917a;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
      }

      .btn:hover {
        background-color: #0ca694;
      }

    /* Responsive layout */
    @media (max-width: 768px) {
      .sidebar {
          position: static;
          height: auto;
          width: 100%;
          overflow-y: visible;
      }
      .main-container {
        flex-direction: column;
        padding-top: 80px;
      }
    }
</style>


=======
<h1><%= @payment.expense.title%></h1>


<%= button_to "Delete", user_payment_path(@user.id, @payment.id), method: :delete%>
<%= link_to "Edit", edit_user_payment_path(@user.id, @payment)%>

>>>>>>> 0a10184 (show, destroy payment)
