<%= form_with model: expense, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>

  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount, step: 0.01, required: true %>
  </div>

  <div>
    <%= f.label :split_type %>
    <%= f.select :split_type, ["Equal", "Percentage"], prompt: "Select split type" %>
  </div>

  <div>
    <%= f.label :category_id, "Category" %>
    <%= f.collection_select :category_id, Category.all.order(:name), :id, :name, prompt: "Select a category" %>
  </div>

  <%= f.submit %>
<% end %>
