<%= form_with model: expense, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>

  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount, step: 0.01, required: true %>
  </div>

  <div>
    <%= f.label :split_type %>
    <%= f.select :split_type, options_for_select([["Equal", "equal"], ["Percentage", "percentage"]], expense.split_type || "equal"), prompt: "Select split type" %>
  </div>

  <div>
    <%= f.label :category_id, "Category" %>
    <%= f.collection_select :category_id, Category.all.order(:name), :id, :name, prompt: "Select a category" %>
  </div>

  <div>
    <%= f.label :status ,"Status" %>
    <%= f.select :status, ["pending", "paid"], prompt: "Select status" %>
  </div>

  <div>
    <%= f.label :user_ids, "Split with users" %>
    <%= f.collection_select :user_ids, User.all.order(:email), :id, ->(u) { "#{u.first_name} #{u.last_name} (#{u.email})" }, {}, multiple: true %>
  </div>

  <div>
    <%= f.label :user_group_id, "Group" %>
    <%= f.collection_select :user_group_id, UserGroup.all.order(:name), :id, :name, prompt: "Select a group" %>
  </div>

  <%= f.submit "Create Expense" %>
<% end %>
