<% if @expense.errors.any? %>
  <div class="error-messages">
    <h4><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h4>
    <ul>
      <% @expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: expense, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>

  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount, step: 0.01, required: true %>
  </div>

  <div>
    <%= f.label :split_type %>
    <%= f.select :split_type, options_for_select([["Equal", "equal"], ["Percentage", "percentage"]], expense.split_type || "equal"), prompt: "Select split type" %>
  </div>

  <div>
    <%= f.label :category_id, "Category" %>
    <%= f.collection_select :category_id, Category.all.order(:name), :id, :name, prompt: "Select a category" %>
  </div>

  <div>
    <%= f.label :user_ids, "Split with users" %>
    <%= f.collection_select :user_ids, User.all.order(:email), :id, ->(u) { "#{u.first_name} #{u.last_name} (#{u.email})" }, {}, multiple: true %>
  </div>

  <div>
    <%= f.label :user_group_id, "Group" %>
    <%= f.collection_select :user_group_id, UserGroup.all.order(:name), :id, :name, prompt: "Select a group" %>
  </div>

  <%= f.submit @expense.persisted? ? "Update Expense" : "Create Expense" %>
<% end %>
